<div class="container">
  <footer class="pt-3 my-4 border-top">
    <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul> -->
    <p class="text-center text-muted">© 2021 | France Resto</p>
  </footer>
</div>
