<div class="container">
  <h1>Booking</h1>
  <!-- <span>Booking tempat semudah dari ponsel anda.</span> -->
  <h5>Booking tempat semudah dari ponsel anda.</h5>
  <form class="rounded border p-3">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Participan Number</label
      >
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3">
      <label for="table">Table:</label>
      <br />
      <select name="table" id="table">
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="B2">B1</option>
        <option value="B2">B2</option>
      </select>
      <table class="table table-bordered mt-2">
        <thead>
          <tr scope="row">
            <th scope="col">Id</th>
            <th scope="col">Name</td>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td scope="col">1</td>
            <td scope="col">Ayam Geprek</td>
            <td scope="col">2</td>
            <td scope="col">20.000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr scope="row">
            <th scope="col">Total</th>
            <th scope="col" colspan="3" class="text-center">20.000</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="mb-3">
      <label for="order">Order:</label>
      <br />
      <select name="order" id="order">
        <option value="ayam_geprek">Ayam Geprek</option>
        <option value="pecel_lele">Pecel Lele</option>
        <option value="sambal_udang">Sambal Udang</option>
        <option value="bebek_bakar">Bebek Bakar</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
