<div class="container">
  <h1 class="text-center">France Resto</h1>
  <div class="container mt-2 border-top pt-3">
    <div class="d-flex justify-content-center">
      <img
        src="/images/example-restaurant.jpg"
        alt="Profile Company Image"
        class="card-img-top w-75 text-center m-auto rounded"
      />
    </div>
    <p class="aboutus-description mt-4" style="text-align: justify">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
      perspiciatis quos facere reiciendis enim ullam sit! Dignissimos odit
      delectus possimus iusto consequuntur neque corporis quae eum molestias
      dolore explicabo est numquam nobis sed maxime consectetur in optio
      perspiciatis ipsa, magnam ipsam! Aliquam doloribus soluta itaque. Non
      totam fugiat, architecto similique fuga ea animi laborum ex beatae sint
      eius minus, sequi commodi at incidunt minima dolores illo eligendi id
      impedit asperiores. Cupiditate harum molestiae id recusandae suscipit hic
      ipsum quaerat quisquam vel ex. Illum, voluptates a modi laudantium, dicta
      animi eum rerum explicabo numquam nihil ipsam asperiores perspiciatis qui,
      harum commodi.
    </p>
  </div>
</div>
