<div class="container">
  <h1 class="text-center">Booking</h1>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/images/burger.jpeg" class="card-img-top" alt="Image 1" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">Burger</h5>
              <p>Rp 50rb</p>
            </div>
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-success"
                >Add <i class="fa-solid fa-plus"></i
              ></a>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/images/burger.jpeg" class="card-img-top" alt="Image 1" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">Burger</h5>
              <p>Rp 50rb</p>
            </div>
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-success"
                >Add <i class="fa-solid fa-plus"></i
              ></a>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/images/burger.jpeg" class="card-img-top" alt="Image 1" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">Burger</h5>
              <p>Rp 50rb</p>
            </div>
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-success"
                >Add <i class="fa-solid fa-plus"></i
              ></a>
              <a href="#" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
